.pay-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    justify-content: space-between;
    & > input, div {
      box-sizing: border-box;
      width: 48%;
    }
  }
  &__input {
    box-sizing: border-box;
    margin-bottom: 72px;
    color: #C9C9C9;
    border: 0;
    border-bottom: 1px solid #C9C9C9;
    font-size: 17px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #C9C9C9;
    }
  }
  &__btn-submit-container {
    display: flex;
    justify-content: flex-end;
  }
  &__btn-submit {
    box-sizing: border-box;
    height: 51px;
    border: 0;
    background: #DE4B4B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background: #ba3a3a 0% 0% no-repeat padding-box;
    }
  }
  &__btn-submit--disabled {
    background-color: #ddd;
    &:hover {
      background: #ddd 0% 0% no-repeat padding-box;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .pay-form {
    &__btn-submit {
      width: 246px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .pay-form {
    &__btn-submit {
      width: 100%;
    }
  }
}
